#u352-6,#u356-4,#u362-4,#u377-4,#u396-4,#u370-4,#u389-4,#u403-4,#u843-4,#u868-4,#u920-4,#u928-4,#u1237-4,#u1242-4,#u1245-4,#u1247-4,#u1510-4,#u1613-4,#u1624-4,#u971-4,#u981-4,#u976-4
{
	font-family: lato-n3, sans-serif;
}

#u1274-4,#u1292-4,#u1306-4,#u1320-4,#u1348-4,#u1362-4,#u1400-4,#u1414-4,#u1440-4,#u1512-4,#u1524-4,#u1525-4,#u1526-4,#u1527-4,#u1528-4,#u1545-4,#u1547-4,#u1548-4,#u1549-4,#u1550-4,#u1551-4,#u1552-4,#u1554-4,#u1555-4,#u1556-4,#u1557-4,#u1558-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u258-4,#u353-4,#u352-2,#u364-4,#u378-4,#u397-4,#u371-4,#u390-4,#u404-4,#u870-4,#u922-4,#u930-4,#u1616-4,#u1685-4,#u1686-4,#u1687-6,#u1689-6,#u869-4,#u921-4,#u929-4,#u1238-4,#u1511-4,#u1513-6,#u1542-4,#u1543-4,#u1546-6,#u1553-6,#u1559-4,#u1625-4,#u1714-4
{
	font-family: lato-n4, sans-serif;
}

